<div class="card-container">
  <div class="card-headre">
    <figure class="image">
      <%= image_tag @end_user.get_profile_image(200,200) %>
    </figure>
  </div>
  <div class="card-body">
    <h4 class="name">
     <strong><%= @end_user.name %></strong>
    </h4>
    <h2 class="introduction">
      <%= @end_user.introduction %>
    </h2>
  </div>
</div>
