<table class='table table-hover table-inverse table-light'>
  <thead class= "thead-light">
    <tr>
      <th>旬</th>
      <th>ネタ</th>
      <th>メモ</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
　  <tr>
　    <td><%= @dictionary.season %></td>
　    <td><%= @dictionary.name %></td>
　    <td><%= @dictionary.body %></td>
　    <td><%= link_to "編集", edit_public_dictionary_path(@dictionary), class: 'btn btn-success btn-sm' %></td>
　  </tr>
  </tbody>
</table>