<div class="mt-3 text-center">
  <div class="top-image">
    <%= image_tag('PF_top.png') %>
  </div>
  <div class="about">
    スシを食べよう！スシを知ろう！スシで集まろう！をテーマにした寿司好きな人のためのSNS。<br>
    気軽にお寿司を食べたい日、特別な記念日にお寿司を食べたい日、いろいろなシチュエーションに合わせて、<br>
    おいしいお寿司屋さんを見つけましょう！
  </div>
</div>



