 <!--コメントするボックス-->
      <%= form_with model: [post_sushi, post_comment], url: public_post_sushi_post_comments_path(post_sushi), method: :post, local: false do |f| %>
       <div class="comment-form">
        <%= f.text_area :comment, rows: '2', placeholder: "コメントをここに", class:"form-control"%>
       </div>
       <div class="comment-button">
        <%= f.submit "送信する",class:"btn btn-secondary btn-sm" %>
       </div>
        
       <% end %>
  