/*
 *= require_tree .
 *= require_self
 */

html, body {
  padding: 0;
  margin: 0;
}

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
/*logo*/
.logo {
  margin-top: 30px ;
 }
 /*main全体*/
 .main {
  background-color: #F5DEB3;
 }

.shadow-sm {
  background-color: #163054;
  border-bottom: 2px solid #FAEBD7;
}
.sidebar_fixed {
  position: sticky;/*sidebarの固定*/
}

/*public/post_sushi#index(topページ)*/
// .card {
//   margin: 0 50px 50px 50px;
// }

/*すしの写真サイズ*/
.sushi-img {
  height: 250px;
  object-fit: cover;
}

/*文字のマーカー*/
strong {
  background: linear-gradient(180deg, #FCFCFA 0%, #FCFCFA 70%, #E2C3C2 70%, #E2C3C2 100%);
}

/*public/post_sushi#shou(コメント)*/


/*public/end_user#show*/
.card-container {
  width: 320px;
  height: 700px;
  margin-left: 10px;
  background-color: #FCFCF5;
  box-shadow: 0px 0px 28px 3px #ededed;
  position: relative;
  border-radius: 10px;
}

.card-body{
  width: 80;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction{
  margin: 50px 0 0 0;
}


/* Fix: Bootstrap .row Overflow */
.row {
  margin: 0!important;
}
